<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="GJTalkServer.Properties.Settings.GanjuConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=Ganju;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="mongoDbConnStr" value="mongodb://localhost/?safe=true"/>
    <add key="mongoDbName" value="gjtalk"/> 
</appSettings>
</configuration>